{% load static %}

<div class="sidebar-heading border-bottom bg-light">Examples</div>
<div class="list-group list-group-flush">
  <a href="{% url 'apps.pages.main:album' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Album</a>
  <a href="{% url 'apps.pages.main:badges' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Badges</a>
  <a href="{% url 'apps.pages.main:blog' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Blog</a>
  <a href="{% url 'apps.pages.main:breadcrumbs' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Breadcrumbs</a>
  <a href="{% url 'apps.pages.main:buttons' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Buttons</a>
  <a href="{% url 'apps.pages.main:carousel' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Carousel</a>
  <a href="{% url 'apps.pages.main:charts' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Charts</a>
  <a href="{% url 'apps.pages.main:cheatsheet' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Cheatsheet</a>
  <a href="{% url 'apps.pages.main:checkout' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Checkout</a>
  <a href="{% url 'apps.pages.main:cover' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Cover</a>
  <a href="{% url 'apps.pages.main:dashboard' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Dashboard</a>
  <a href="{% url 'apps.pages.main:dropdowns' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Dropdowns</a>
  <a href="{% url 'apps.pages.main:features' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Features</a>
  <a href="{% url 'apps.pages.main:footers' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Footers</a>
  <a href="{% url 'apps.pages.main:grid' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Grid</a>
  <a href="{% url 'apps.pages.main:headers' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Headers</a>
  <a href="{% url 'apps.pages.main:heroes' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Heroes</a>
  <a href="{% url 'apps.pages.main:jumbotron' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Jumbotron</a>
  <a href="{% url 'apps.pages.main:jumbotrons' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Jumbotrons</a>
  <a href="{% url 'apps.pages.main:list-groups' %}" class="list-group-item list-group-item-action list-group-item-light p-3">List Groups</a>
  <a href="{% url 'apps.pages.main:login' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Login</a>
  <a href="{% url 'apps.pages.main:masonry' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Masonry</a>
  <a href="{% url 'apps.pages.main:modals' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Modals</a>
  <a href="{% url 'apps.pages.main:navbar-bottom' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Navbar Bottom</a>
  <a href="{% url 'apps.pages.main:navbar-fixed' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Navbar Fixed</a>
  <a href="{% url 'apps.pages.main:navbar-static' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Navbar Static</a>
  <a href="{% url 'apps.pages.main:navbars' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Navbars</a>
  <a href="{% url 'apps.pages.main:navbars-offcanvas' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Navbars Offcanvas</a>
  <a href="{% url 'apps.pages.main:offcanvas' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Offcanvas</a>
  <a href="{% url 'apps.pages.main:offcanvas-navbar' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Offcanvas Navbar</a>
  <a href="{% url 'apps.pages.main:pagenotfound' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Pagenotfound</a>
  <a href="{% url 'apps.pages.main:password' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Password</a>
  <a href="{% url 'apps.pages.main:pricing' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Pricing</a>
  <a href="{% url 'apps.pages.main:product' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Product</a>
  <a href="{% url 'apps.pages.main:register' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Register</a>
  <a href="{% url 'apps.pages.main:sidebars' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Sidebars</a>
  <a href="{% url 'apps.pages.main:sign-in' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Sign-in</a>
  <a href="{% url 'apps.pages.main:starter-template' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Starter-template</a>
  <a href="{% url 'apps.pages.main:sticky-footer' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Sticky-footer</a>
  <a href="{% url 'apps.pages.main:sticky-footer-navbar' %}" class="list-group-item list-group-item-action list-group-item-light p-3">Sticky-footer-navbar</a>
</div>
