{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>
		{% block title %}Django/Bootstrap - Examples{% endblock title %}
	</title>

	{% include "site/components/base_header_styles.html" %}

	{% block additional_styles %}
	{% endblock additional_styles %}

	<script src="{% static 'vendor/bootstrap-examples/5.3.1/js/color-modes.js' %}"></script>
</head>

<body id="page-top">
	<div class="d-flex flex-nowrap">
		{% include "site/components/sidebar.html" %}

		<div id="content" style="overflow-y: scroll;"></div>
			{% block content %}MISSING CONTENT{% endblock content %}
		</div>
	</div>

	{% include "site/components/base_footer_scripts.html" %}

	{% block additional_scripts %}
	{% endblock additional_scripts %}
</body>

</html>
